@media only screen  and (min-width : 760px) {
.main_container{
    background-image: url('../assets/Building_back.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: 'Times New Roman', serif;
    font-size: medium;
}

.head-img{
    background-image: url('../assets/Building_back.jpg');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-profile{
    height: 200px;
}
.quote{
    margin-top: -100px;
  font-family: Georgia, serif;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main_container{
        background-image: url('../assets/Building_back.jpg');
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
    }
  }
