.image-profile{
    height: 200px;
    font-family: 'Merriweather', serif;;
}
.quote{
margin-top: 100px;
margin-right: -50px;
  font-family: Georgia, serif;
}

@media only screen  and (min-width : 760px) {

    .head-img{
        background-image: url('../assets/Building_back.jpg');
        height: 700px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

@media only screen  and (max-width : 925px) {
    .head-img{
        background-image: url('../assets/mobile_back.jpg');
        height: 700px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .head-img{
            background-image: url('../assets/mobile_backimg.jpg');
            height: 700px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .quote{
            margin-top: 120px;
        }
      }